.pageHeader {
    height: 175px;
    background: #000066;
}

.pageContainer {
    width: 80%;
    background: white;
}

#pageHeaderImg {
    width: 90%;
    height: 100%;
}

.backgroundDisplay {
    background: lightgray;
}

html {
    height: 100%;
    font-size: 100%;
}

@media (max-device-width: 720px){
    html {
        font-size: 300%;
    }

    .pageContainer {
        width: 100%;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}