.pageHeader {
    height: 175px;
    background: #000066;
}

.pageContainer {
    width: 80%;
    background: white;
}

#pageHeaderImg {
    width: 90%;
}

.backgroundDisplay {
    background: lightgray;
}

html {
    height: 100%;
}