.profile-pic {
    object-fit: cover;
}

.current-profile-pic {
    object-fit: cover;
}

.research-interests {
    width: 40%;
}

.education {
    width: 60%;
}

/* increase the font size of Dr. Dave's card */
.dirDiv > ul {
    font-size: large;
}

.curImgDiv {
    height: 200px;
}

/* for sm break point */
@media only screen and (max-width: 576px) {

}

/* for md break point */
@media only screen and (max-width: 768px) {
    .research-interests {
        width: 100%;
    }

    .education {
        width: 100%;
    }
}

/* for lg break point */
@media only screen and (max-width: 992px) {
    .current-profile-pic {
        height: 100%;
    }

    #drDave {
        width: 45%;
    }

    .faculty-pic {
        width: 70%;
    }

    .current-profile-pic {
        width: 75%;
    }

    /* makes bulleted text slightly smaller when screen is resized */
    .dirDiv > ul {

    }

}