.image-body {

}

.profile-pic {
    object-fit: cover;
}

.current-profile-pic {
    object-fit: cover;
}

div {

}

.card {

}

.research-interests {
    width: 40%;
}

.education {
    width: 60%;
}

/* for lg break point */
@media only screen and (max-width: 992px) {
    .current-profile-pic {
        height: 100%;
    }
}