{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/about.css"/>{% endblock %}
{% block content %}
    <img class = "aboutimg" src="../static/images/AIMS placeholder.PNG">

    <div class = "header">
        <h1>About</h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. <br> <br> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
        sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
        velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

    <h1>Success Stories</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Project Update:</h5>
            <p class="card-text">Gravida rutrum quisque non tellus orci. Elit sed vulputate mi sit amet. Sit amet nisl
                purus in mollis nunc sed id. Varius quam quisque id diam vel quam. Vitae congue eu consequat ac felis
                donec et odio pellentesque. Risus quis varius quam quisque id diam vel quam. Pellentesque elit
                ullamcorper dignissim cras. Adipiscing vitae proin sagittis nisl rhoncus mattis. Tellus orci ac auctor
                augue mauris augue neque gravida. Netus et malesuada fames ac turpis. Proin sagittis nisl rhoncus mattis
                rhoncus urna neque. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Pulvinar mattis
                nunc sed blandit libero volutpat sed. Feugiat pretium nibh ipsum consequat.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Publication:</h5>
            <p class="card-text">Gravida rutrum quisque non tellus orci. Elit sed vulputate mi sit amet. Sit amet nisl
                purus in mollis nunc sed id. Varius quam quisque id diam vel quam. Vitae congue eu consequat ac felis
                donec et odio pellentesque. Risus quis varius quam quisque id diam vel quam. Pellentesque elit
                ullamcorper dignissim cras. Adipiscing vitae proin sagittis nisl rhoncus mattis. Tellus orci ac auctor
                augue mauris augue neque gravida. Netus et malesuada fames ac turpis. Proin sagittis nisl rhoncus mattis
                rhoncus urna neque. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Pulvinar mattis
                nunc sed blandit libero volutpat sed. Feugiat pretium nibh ipsum consequat.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <img class = "aboutimg" src="../static/images/AIMScycle.png">
{% endblock %}