{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/about.css"/>{% endblock %}
{% block content %}
    <img class = "aboutimg" src="../static/images/AIMS placeholder.PNG">

    <div class = "header">
        <h1>About</h1>
    </div>

    <p>The AIMS Research Group is a collaboration of four faculty and over 20 undergraduate research students in the
        Computer Science Department at the University of Wisconsin – Eau Claire. Since its inception in Fall 2020 , it
        has engaged in multiple research projects that have yielded several student authored research publications at
        international conferences and Journals. Undergraduates participate as student researchers advised by the
        computer science faculty mentors, which are Rushit Dave (Chair), Jim Seliya, Mounika Vanamala, and Benjamin
        Fine. Each of the four faculty mentors brings their respective unique experience to the AIMS Research Group,
        providing a wide spectrum of research opportunities for undergraduates in the computing fields of artificial
        intelligence, machine learning, and security. A few of those research projects/areas are listed below,
        indicating the broad spectrum of research topics available to students. Several of the AIMS student researchers
        are recipients of the Karlgaard Scholarship. AIMS is proud of its extensive involvement of undergraduate
        students in novel scholastic work and promotes undergraduate research through ORSP-sponsored faculty-student
        collaboration research grants and diversity mentoring research programs. </p>

    <h1>Success Stories</h1>
    <div class="card mb-2 card-color" id="card1">
        <div class="card-body">
            <p class="card-text">Dr. Rushit Dave was nominated and selected for 16th Annual Authors Celebration at UWEC, 2021</p>
        </div>
    </div>

    <div class="card mb-2 card-color"  id="card2">
        <div class="card-body">
            <p class="card-text">One journal paper got accepted at Journal of Computer Sciences and Applications, 2021</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card3">
        <div class="card-body">
            <p class="card-text">Three conference papers got accepted at IEEE conference ICECET 2021</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card4">
        <div class="card-body">
            <p class="card-text">One paper got acceptance at IEEE conference ICCMA 2021</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card5">
        <div class="card-body">
            <p class="card-text">One proposal got accepted for Diversity mentoring Program</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card6">
        <div class="card-body">
            <p class="card-text">Six proposals got accepted for Student-Faculty collaborative Program</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card7">
        <div class="card-body">
            <p class="card-text">Successfully organized Python & Machine Learning Two days Workshop, Fall 2021</p>
        </div>
    </div>

    <div class="card mb-2 card-color"id="card8">
        <div class="card-body">
            <p class="card-text">Something here for text</p>
        </div>
    </div>
    <img class = "aboutimg mt-5" src="../static/images/AIMScycle.png" alt="AIMS Research Cycle">
{% endblock %}