{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/contact.css"/>{% endblock %}
{% block content %}
    <div class="row align-items-center text-center">
        <div class="col-sm">
            <h1>AIMS</h1>
            <h5>
                Dr. Rushit Dave<br/>
                <a href="mailto:daver@uwec.edu">daver@uwec.edu</a><br/>
                <a href="tel:+17158362490">715-836-2490</a><br/>
                Phillips Science Hall 136, Eau Claire<br/>
            </h5>
        </div>
        <div class="col-sm">
            <img
                    class="img-fluid"
                    src="https://bloximages.chicago2.vip.townnews.com/chippewa.com/content/tncms/assets/v3/editorial/e/3c/e3cd5a33-eedf-5573-9280-b86bd8d46404/5a7dfdc55be10.image.jpg?resize=1200%2C798"
                    alt="UWEC Campus Photo"
            >
        </div>
    </div>
{% endblock %}