{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/events.css"/>{% endblock %}
{% block content %}
    <h3>Upcoming</h3>

    <a href="https://www.uwec.edu/" target="_blank" class="btn btn-secondary mb-3">UWEC Map</a>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <h6>September 18-19, 2021</h6>
                    <p class="card-text">
                        Information about the workshop.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Dui sapien eget mi proin sed libero enim sed faucibus.
                        Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Arcu ac tortor dignissim convallis aenean.
                    </p>
                    <a href="https://www.uwec.edu/" target="_blank" class="btn btn-secondary">Schedule</a>
                </div>
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <h3 class="mt-5">Previous</h3>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <h6>Some date, 2021</h6>
                    <p class="card-text">
                        Information about the workshop.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Dui sapien eget mi proin sed libero enim sed faucibus.
                        Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Arcu ac tortor dignissim convallis aenean.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">Workshop Title</h5>
                    <h6>Some date, 2021</h6>
                    <p class="card-text">
                        Information about the workshop.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Dui sapien eget mi proin sed libero enim sed faucibus.
                        Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Arcu ac tortor dignissim convallis aenean.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                     class="img-fluid rounded h-100"
                     alt="..."
                >
            </div>
        </div>
    </div>
{% endblock %}