{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/events.css"/>{% endblock %}
{% block content %}
    <a href="https://www.uwec.edu/" target="_blank" class="btn btn-secondary mb-3">UWEC Map</a>

    <h2>Upcoming</h2>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">An Exploration of AI and Game Theory</h4>
                    <h5>November 6th, 2021</h5>
                    <p class="card-text">
                        The Artificial Intelligence and Machine Learning Security Research group of Department Computer Science, at University of Wisconsin are hosting a one day programming workshop for Undergraduate Students.
                    </p>
                    <a href="https://www.uwec.edu/" target="_blank" class="btn btn-secondary">Schedule</a>
                </div>
            </div>
            <div class="col-md-3">
              <img src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

<!--    <h2 class="mt-5">Previous</h2>-->

{% endblock %}