{% extends "layout.html" %}
{% block title %}Funding{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/funding.css"/>{% endblock %}
{% block content %}

    <h3>Fall 2021 - Spring 2022</h3>
    <ul>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program Award, “Continuous Authentication Using Mouse Dynamics based on Machine & Deep Learning Algorithms”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program Award, “Behavioral Biometric based Authentication Schemes Using Machine Learning”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Diversity Mentoring Program award, “A study on Contextual Human Activity Recognition using Machine Learning & Pattern Recognition”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “Curiosity Prediction from Text Data Mining”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “Analysis & Model Development for Anti-Malware Android Applications for Mobile Phones”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “By Students-For Students: Canvas 2.0 ”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “Recommending CAPEK attack patterns for secure software development in SDLC”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
    </ul>

    <h3>Summer 2021</h3>
    <ul>
        <li class="mb-2">
            Summer Student-Faculty Collaborative Research Program award, “An analysis of data privacy and security in autonomous vehicles”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Summer Student-Faculty Collaborative Research Program award, “Enhanced Modeling To Improve Physical Layer Authentication Using Deep Learning Algorithms”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Summer Student-Faculty Collaborative Research Program award, “Behavioral biometric based authentication schemes using machine learning”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
    </ul>

    <h3>Fall 2020 - Spring 2021</h3>
    <ul>
        <li class="mb-2">
            Diversity Mentoring Program award, “Power Prediction Model For Mobile Devices based on Machine Learning”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “Power Prediction Model For Mobile Devices based on Machine Learning”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
        <li class="mb-2">
            Student-Faculty Collaborative Research Program award, “Enhanced Modeling To Improve Physical Layer Authentication Using Machine Learning Algorithms”, Funding by Office of Research and Sponsored Programs at University of Wisconsin Eau Claire.
        </li>
    </ul>
{% endblock %}