{% extends "layout.html" %}
{% block title %}People{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/people.css"/>{% endblock %}
{% block content %}
    <!-- Director Card -->
    <div class="mb-3" id="director">
      <h3 class="person-category">Director</h3> <!-- medium breaking point 'co-lg-3 -->
      <div class="card p-3"> <!-- Start of card -->
          <div class="row g-0">
              <div class="col-lg-3 image-body text-center">
                  <img src="../static/images/people/dr-rushit-dave.jpeg"
                       class="img-fluid rounded profile-pic"
                       id="drDave"
                       alt="Dr. Rushit Dave">
              </div>
              <div class="col-lg-9">
                  <div class="card-body py-lg-0 px-lg-3 px-0">
                      <h3 class="card-title">Dr. Rushit Dave</h3>
                      <h4 class="card-title">Assistant Professor of Computer Science, UWEC</h4>
                      <h5 class="card-title">2021 Karlgaard CS faculty of the year</h5>
                      <div class="d-md-flex flex-row">
                          <div class="research-interests mt-2 dirDiv">
                              <h5>Research Interests:</h5>
                              <ul>
                                  <li>Machine Learning</li>
                                  <li>Deep Learning</li>
                                  <li>Mobile Computing & IoT</li>
                                  <li>Data Mining</li>
                                  <li>Software Engineering</li>
                              </ul>
                          </div>
                          <div class="education mt-2 dirDiv">
                              <h5>Education:</h5>
                              <ul>
                                  <li>PhD: North Carolina A&T State University, NC, USA <i>(Computer Science)</i></li>
                                  <li>MS: New York Institute of Technology, NY, USA <i>(Computer Science)</i></li>
                                  <li>B.Tech: Dharmasinh Desai University, India <i>(Computer Engineering)</i></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- Faculty Advisor Cards -->
    <div class="mb-3" id="faculty">
        <h3 class="person-category">Faculty Advisors</h3> <!-- medium breaking point 'co-md-3 -->
        <div class="row g-0">
            <div class="card col-6 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center">
                        <img src="../static/images/people/dr-naeem-seliya.jpg"
                             class="img-fluid rounded profile-pic faculty-pic" alt="Dr. Naeem Seliya">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h4 class="card-title">Dr. Naeem Seliya</h4>
                            <h5 class="card-title">Assistant Professor of Computer Science, UWEC</h5>
                            <h6>Research Interests:</h6>
                            <ul>
                                <li>Data Mining and Machine Learning</li>
                                <li>Big Data Analytics</li>
                                <li>Computer Science Education</li>
                                <li>Software Engineering</li>
                            </ul>
                            <h6>Education:</h6>
                            <ul>
                                <li>PhD: Florida Atlantic University, Boca Raton, FL</li>
                                <li>MS: Florida Atlantic University, Boca Raton, FL</li>
                                <li>B.S.: University of Mumbai, India</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-6 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center">
                        <img src="../static/images/people/dr-mounika-vanamala.jpeg"
                             class="img-fluid rounded profile-pic faculty-pic" alt="Dr. Mounika Vanamala">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h4 class="card-title">Dr. Mounika Vanamala</h4>
                            <h5 class="card-title">Assistant Professor of Computer Science, UWEC</h5>
                            <h6>Research Interests:</h6>
                            <ul>
                                <li>Cyber Security</li>
                                <li>Secure Software Engineering</li>
                                <li>IOT Security</li>
                                <li>Natural language processing/Text Mining</li>
                            </ul>
                            <h6>Education:</h6>
                            <ul>
                                <li>PhD: North Carolina A&T State University, NC, USA <i>(Computer Science)</i></li>
                                <li>MS: North Carolina A&T State University, NC, USA <i>(Computer Science)</i></li>
                                <li>B.Tech: Jawaharlal Nehru Technical University, India <i>(Computer Engineering)</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-6 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center">
                        <img src="../static/images/people/dr-benjamin-fine.jpeg"
                             class="img-fluid rounded profile-pic faculty-pic" alt="Dr. Benjamin Fine">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h4 class="card-title">Dr. Benjamin Fine</h4>
                            <h5 class="card-title">Assistant Professor of Computer Science, UWEC</h5>
                            <h6>Research Interests:</h6>
                            <ul>
                                <li>Distributed Robotics</li>
                                <li>Collective Behaviors</li>
                                <li>Computational/Algorithmic Music</li>
                                <li>CS and Robotics Education</li>
                            </ul>
                            <h6>Education:</h6>
                            <ul>
                                <li>Ph.D., Texas A&M University, College Station <i>(Computer Science)</i></li>
                                <li>B.S., University of South Carolina, Columbia <i>(Computer Science)</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Current Member Cards -->
    <div class="mb-3 row g-0" id="current-members">
        <h3 class="person-category">Current Members</h3>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/nyle-siddiqui.jpg"
                             class="img-fluid rounded current-profile-pic" alt="Nyle Siddiqui">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Nyle Siddiqui</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Research Assistant</h6>
                            <p class="card-text mb-0">Authentication schemes based on mouse movement detection</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">CS Honors</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/willem-van-haaften.jpg"
                             class="img-fluid rounded current-profile-pic" alt="Willem Van Haaften">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Willem Van Haaften</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">IoT Securities</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/wei.jpeg" class="img-fluid rounded current-profile-pic" alt="Wei Zhong Tee">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Wei Zhong Tee</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Research Assistant</h6>
                            <p class="card-text mb-0">Human Activity Recognition</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">ORSP Diversity Mentoring program</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/zach-menter.png" class="img-fluid rounded current-profile-pic" alt="Zach Menter">
                    </div>
                    <div class="col-lg-8 ">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Zachary Menter</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Developer</h6>
                            <p class="card-text mb-0">Supervised Canvas/Blackboard System</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/laura-pryor.jpg" class="img-fluid rounded current-profile-pic" alt="Laura Pryor">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Laura Pryor</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Research Assistant</h6>
                            <p class="card-text mb-0">Behavioral Biometrics authentication using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Blugolds Fellowship Scholar & Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/mingfu-huang.png" class="img-fluid rounded current-profile-pic" alt="Mingfu Huang">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Mingfu Huang</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">Data Security in Autonomous Vehicles, Malware and Anti-Malware in Mobile Phones</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">ORSP Student-Faculty Collaborative Research program</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/cole-pearson.jpg" class="img-fluid rounded current-profile-pic" alt="Cole Pearson">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Cole Pearson</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Research Assistant</h6>
                            <p class="card-text mb-0">Curiosity Prediction using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Naeem Seliya</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/nuo-xu.jpg" class="img-fluid rounded current-profile-pic" alt="Xu Nuo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Xu Nuo</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">Behavioral Biometrics authentication using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/mitchell-hanson.png" class="img-fluid rounded current-profile-pic" alt="Mingfu Huang">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Mitchell Hanson</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">Curiosity Prediction using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Naeem Seliya</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/mitchell-haley.jpg" class="img-fluid rounded current-profile-pic" alt="Mitchell Haley">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Mitchell Haley</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">CAPEK Attack patterns in SDLC using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Mounika Vanamala</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/ben-hallis.jpg" class="img-fluid rounded current-profile-pic" alt="Ben Hallis">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Ben Hallis</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">Data Security in Autonomous Vehicles, Malware and Anti-Malware in Mobile Phones</p>
                            <p class="card-text"><small class="text-muted">Dr. Mounika Vanamala</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/zach-deridder.jpg" class="img-fluid rounded current-profile-pic" alt="Zach DeRidder">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Zach DeRidder</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">Authentication schemes based on mouse movement detection</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Sentry Insurance Foundation Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/collin-petry.jpg" class="img-fluid rounded current-profile-pic" alt="Collin Petry">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Collin Petry</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Developer</h6>
                            <p class="card-text mb-0">Supervised Canvas/Blackboard System</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/thomas-reither.jpg" class="img-fluid rounded current-profile-pic" alt="Thomas Reither">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Thomas Reither</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Research Assistant</h6>
                            <p class="card-text mb-0">Authentication schemes based on mouse movement detection</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/stuart-scamehorn.jpg" class="img-fluid rounded current-profile-pic" alt="Stuart Scamehorn">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Stuart Scamehorn</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Developer</h6>
                            <p class="card-text mb-0">Supervised Canvas/Blackboard System</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/karen-bolka.jpeg" class="img-fluid rounded current-profile-pic" alt="Karen Bolka">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Karen Bolka</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Developer</h6>
                            <p class="card-text mb-0">Supervised Canvas/Blackboard System</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">ORSP</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/sara-kokal.jpg" class="img-fluid rounded current-profile-pic" alt="Sara Kokal">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Sara Kokal</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">Behavioral Biometrics authentication using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Blugolds Fellowship Scholar & Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/nick-lasky.jpeg" class="img-fluid rounded current-profile-pic" alt="Nick Lasky">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Nicholas Lasky</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">CAPEK Attack patterns in SDLC using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Mounika Vanamala</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card col-4 p-3"> <!-- Start of card -->
                <!-- Name's card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/simon-arneberg.png" class="img-fluid rounded current-profile-pic" alt="Simon Arneberg">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Simon Arneberg</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Senior Research Assistant</h6>
                            <p class="card-text mb-0">Data mining in Smart Cities</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card --> <!-- This card is what was drawn by Dr. Dave -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/jacob-mallet.jpg" class="img-fluid rounded current-profile-pic" alt="Jacob Curtis Mallet">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Jacob Curtis Mallet</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">Behavioral Biometrics authentication using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                            <p class="card-text"><small class="text-muted">Computer Science Karlgaard Scholar</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/kyle-sargeant.jpg" class="img-fluid rounded current-profile-pic" alt="Kyle Sargeant">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Kyle Sargeant</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Junior Research Assistant</h6>
                            <p class="card-text mb-0">Computer Science and Psychology</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <!-- for when to insert other student -->
            <div class="card col-4 p-3"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-lg-4 image-body text-center curImgDiv">
                        <img src="../static/images/people/logan-schlueter.jpg" class="img-fluid rounded current-profile-pic" alt="Logan Schlueter">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Logan Schlueter</h5>
                            <h6 class="card-title">Computer Science</h6>
                            <h6 class="card-title">Freshman Research Assistant</h6>
                            <p class="card-text mb-0">Authentication schemes based on mouse movement detection</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- AIMS Alumni Member Cards -->
    <div class="mb-3 row g-0" id="alumni-members">
        <h3 class="person-category">AIMS Alumni</h3>
        <div class="row g-0">
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Sam Strecker</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">IoT Securities</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">David Xiaong Bee</h5>
                            <h6 class="card-title">Computer Science - May 2020</h6>
                            <p class="card-text mb-0">Machine Learning in IoT Devices</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Joe Ackerson</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">Software Authentication using ML LSTM-RNN</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Kyle Kurtenbach</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">Mobile Computing</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Logan Eckert</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">BluSys system - State level Runner Up</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Su Mao</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">Edge Computing</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="card p-3 col-4"> <!-- Start of card -->
                <div class="row g-0">
                    <div class="col-12">
                        <div class="card-body py-lg-0 px-lg-3 px-0">
                            <h5 class="card-title">Casey Owen</h5>
                            <h6 class="card-title">Computer Science - May 2021</h6>
                            <p class="card-text mb-0">Audio Denoising using ML</p>
                            <p class="card-text"><small class="text-muted">Dr. Rushit Dave</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}