{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/projects.css"/>{% endblock %}
{% block content %}
    <h1>Projects</h1>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">1. Application of Machine Learning-Based Pattern Recognition in IoT Devices</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                        <ul>
                            <li>Wei Zhong Tee</li>
                            <li>Zachary Menter</li>
                        </ul>
                        <h2>Mentor</h2>
                        <ul>
                            <li>temp</li>
                        </ul>
                        <h2>Description</h2>
                        <p>
                            A survey on the effectiveness on different machine learning algorithms used in human activity recognition in IoT devices.
                            Exploration of existing methodologies for machine learning based models for human activity recognition in IoT devices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/applicationofmachinelearning.png"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">2. Contextual human activity recognition using machine learning and deep learning</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                        <ul>
                            <li>Wei Zhong Tee</li>
                        </ul>
                        <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                        <h2>Description</h2>
                        <p>
                            Exploring models that use independent or combined algorithms based on machine learning and/or deep learning principles.
                            Accurate recognition using data from easily accessible devices such as a smart watch or smartphone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/contextualhumanactivity.jpg"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">3. Classification of Independent Medical Examination Reports</h4>
                    <div class="card-text">
                    <h2>Students</h2>
                    <ul>
                        <li>Cole Pearson</li>
                    </ul>
                    <h2>Description</h2>
                    <p>
                        This project aims to use de-sensitized medical documents to develop text mining-based classification models.
                        At the request of an orthopedic expert, our goal is to categorize approximately 5000
                        independent medical examiner reports into one of three categories based on the status
                        of the patient’s injury: permanent, not permanent, or unsure. The task involves
                        developing an automated system to process the physician’s free-text notes to infer their
                        analysis of the patient’s condition.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/IME Classification Image.png"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">4. Named Entity Recognition in Unstructured Medical Text Documents</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                        <ul>
                            <li>Cole Pearson</li>
                        </ul>
                        <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                        <h2>Description</h2>
                        <p>
                            Independent medical examiner reports contain personally identifiable
                            information that needs to be removed or randomly encoded before further
                            research work can be conducted. The goal of this research is to perform
                            named entity recognition, a type of natural language processing, to
                            identify and subsequently remove/encode PII information from IME reports
                            prepared by the physician. We apply the NER toolkits of OpenNLP and
                            spaCy, two freely available NLP platforms.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/Named Entity Recognition Image.JPG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">5. User Authentication Schemes Using Machine Learning Methods – A Review</h4>
                    <div class="card-text">
                         <h2>Students</h2>
                            <ul>
                                <li>Nyle Siddiqui</li>
                            </ul>
                            <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                            <h2>Description</h2>
                            <p>
                                Physical layer authentication has emerged as an effective
                                continuous authentication method for wireless networks. With
                                the advent and widespread implementation of 5G networks across
                                the globe, network security and stability is of the utmost
                                importance. This project served as an extensive review of the
                                entire field of PLA as well as an examination of the most
                                recent advancements in order to assist in the improvement of
                                PLA. Pictured is a Bob-Alice-Eve environment – the environment
                                most commonly used to conduct and verify PLA research.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/AIMS placeholder.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">6. Continuous User Authentication Using Mouse Dynamics, Machine Learning, and Minecraft</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                        <ul>
                            <li>Nyle Siddiqui</li>
                            <li>Thomas Reither</li>
                            <li>Zach DeRidder</li>
                            <li>Logan Schlueter</li>
                        </ul>
                        <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                        <h2>Description</h2>
                        <p>
                            A multitude of user authentication methods have been previously
                            proposed and are currently in use, such as fingerprint scanners,
                            iris scanners, and voice recognition systems. Rather than
                            utilizing physical biometrics of a user for authentication,
                            this paper explores using behavioral biometrics, namely mouse
                            dynamics, and machine/deep learning for user authentication.
                            Original data was collected for this experiment and the mouse
                            movement maps for the first three users is shown.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/AIMS placeholder.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">7. Identifying Machine Generated Text in Social media using Machine and Deep Learning Methods</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Mitchell Haley</li>
                            </ul>
                            <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                            <h2>Description</h2>
                            <p>
                                To address the potential issue of groups/people attempting to warp
                                online discourse using machine generated bot accounts, I will be
                                attempting to find the best way to identify machine and human
                                generated text.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/identifyingmachinelearningtext.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">8. Curiosity Detection in Student Text Responses</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                        <ul>
                            <li>Cole Pearson</li>
                            <li>Mitchell Hanson</li>
                        </ul>
                        <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                        <h2>Description</h2>
                        <p>
                            The goal of this study is to gain insight into students’ thought process
                            related to Computer Science course material so that faculty can develop
                            more engaging questions and homework to improve the learning process.
                            Students in Computer Science department courses at the University of
                            Wisconsin – Eau Claire will be asked to take part in an approximately
                            30-minute session to develop question-based answers in response to a
                            series of prompts. The process used in the session is based on the
                            Question Formulation Technique developed by the Right Question Institute.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/Curiosity Detection Project Image.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">9. Machine Learning/Deep Learning Based Approach to Recommend MITRE ATT&CK Taxonomy for SRS Documents</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Nick Lasky</li>
                                <li>Ben Hallis</li>
                            </ul>
                            <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                            <h2>Description</h2>
                            <p>
                                In this project, we collect the requirement documents from publicly
                                available software projects. Using machine learning and deep learning
                                algorithms, we recommend the MITRE ATT&CK TTP Taxonomy for those
                                documents.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/AIMS placeholder.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">10. Anti-malware and malware for the mobile device</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Mingfu Huang</li>
                            </ul>
                            <h2>Mentor</h2>
                                <ul>
                                    <li>temp</li>
                                </ul>
                            <h2>Description</h2>
                            <p>
                                This review paper will provide a brief description of the field of
                                malware and anti-malware of mobile phone, it would be helping this
                                topic by pointing out the best existing solution. This project provides
                                a criticized analysis on existing methods by a comparison with other
                                research techniques, which will give a clear vision of what is the
                                leading technology in this subject, and what is needing for development.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/antimalwaremobile.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">11. Data Security and Privacy in Autonomous Vehicles</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Mingfu Huang</li>
                            </ul>
                            <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                            <h2>Description</h2>
                            <p>
                                This research focuses on doing a conceptual analysis on the data
                                security on autonomous vehicles. The research will be reviewing
                                the existing research papers that is about this topic. The current
                                problems in this researching field, the proposed framework, the
                                result data gained from their experiment, and the conclusion as well
                                as limitations are the information that the review paper is going to
                                extract and summarize.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/datasecurityinauto.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">12. Application of Machine Learning Prediction in Psychology</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Kyle Sargeant</li>
                            </ul>
                            <h2>Mentor</h2>
                                <ul>
                                    <li>temp</li>
                                </ul>
                            <h2>Description</h2>
                            <p>
                                A majority of the field of Psychology is focused on the explanation
                                of human thoughts and behaviors rather than predicting future human
                                behaviors. By applying machine learning techniques, researchers
                                have been able to produce relatively accurate predictions of human
                                behavior such as future drug abuse, future injurious behavior and
                                clinical risk developments. The goal of this study is to analyze
                                previous works as well as apply machine learning in a future model
                                pertaining to a topic of Psychology.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/MLpredictioninpsych.JPEG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">13. Data Mining for Smart Cities</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Nuo Xu</li>
                                <li>Simon Arneberg</li>
                            </ul>
                            <h2>Mentor</h2>
                            <ul>
                                <li>temp</li>
                            </ul>
                            <h2>Description</h2>
                            <p>
                                The development of modern city tends to be digitalized and
                                intelligent gradually. Smart cities are becoming a reality.
                                Smart cities under the Internet of everything generate a large
                                amount of data, which can be mined to identify hidden patterns,
                                constantly improve intelligent services and improve people's
                                living standards.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/smartcity.JPG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title">14. Behavioral Biometric Based User Authentication Schemes Using Machine Learning</h4>
                    <div class="card-text">
                        <h2>Students</h2>
                            <ul>
                                <li>Laura Pryor</li>
                                <li>placeholder_name</li>
                                <li>placeholder_name</li>
                            </ul>
                            <h2>Mentor</h2>
                                <ul>
                                    <li>temp</li>
                                </ul>
                            <h2>Description</h2>
                            <p>
                                This project is looking at effectively training machine learning
                                algorithms to accurately authentication users long-term on mobile
                                devices using behavioral biometrics. The behavioral biometrics
                                being used are touch dynamics and phone movements. This research
                                is also looking at if the biometrics being tested significantly
                                impact the efficacy of the model.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <img src="../static/images/AIMS placeholder.PNG"
                   class="img-fluid rounded h-100"
                   alt="..."
              >
            </div>
        </div>
    </div>
{% endblock %}