{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/projects.css"/>{% endblock %}
{% block content %}
    <h4>Projects</h4>
        <div class="card-left">
            <img class="placeholderimg" align="right" src="../static/images/AIMS placeholder.PNG">
                <div class="card-text">
                    <h3>Project Title</h3>
                    <h2>Collaborators</h2>
                    <ul>
                        <li>placeholder_name: Project Lead</li>
                        <li>placeholder_name</li>
                        <li>placeholder_name</li>
                        <li>placeholder_name</li>
                    </ul>
                    <h2>Description</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                    </p>
                </div>
        </div>
        <br>
        <div class="card-right">
            <img class="placeholderimg" align="left" src="../static/images/AIMS placeholder.PNG">
            <div class="card-text">
                <h3>Project Title</h3>
                <h2>Collaborators</h2>
                <ul>
                    <li>placeholder_name: Project Lead</li>
                    <li>placeholder_name</li>
                    <li>placeholder_name</li>
                    <li>placeholder_name</li>
                </ul>
                <h2>Description</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
            </div>
        </div>

{% endblock %}