{% extends "layout.html" %}
{% block title %}Publications{% endblock %}
{% block localStyle %}<link rel="stylesheet" href="../static/css/publications.css"/>{% endblock %}
{% block content %}
    <h3>Conference Papers</h3>
    <ol>
        <li class="mb-2">
            Pearson Cole, Naeem Seliya, Rushit Dave “ Named Entity Recognition in Unstructured Medical Text Documents ”, International conference on Electrical, Computer & Energy Technologies, IEEE, 2021.
        </li>
        <li class="mb-2">
            Pryor Laura, Rushit Dave, Naeem Seliya, Evelyn R Sowells Boone “ Analysis of Authentication schemes based on Behavioral biometrics using Machine Learning”, International conference on Electrical, Computer & Energy Technologies, IEEE, 2021.
        </li>
        <li class="mb-2">
            Nyle Siddiqui, Rushit Dave, Naeem Seliya, “Continuous Authentication based on Mouse Movement dynamics using Machine Learning” , International conference on Electrical, Computer & Energy Technologies, IEEE, 2021.
        </li>
        <li class="mb-2">
            Owen Casey, Rushit Dave, Naeem Seliya, Evelyn R Sowells Boone “Machine Learning: Challenges, Limitations and Compatibility for Audio Restoration Process”, International Conference on Computing, Computational modeling and Applications, IEEE, 2021.
        </li>
        <li class="mb-2">
            Sam Strecker, Willem Van Haaften, Rushit Dave, “An Analysis of IoT Cyber Security Utilizing Machine Learning”, 3rd International conference of Communications and Computing Technologies 2021, Algorithms for Intelligent Systems LNNS Springer. [Invited paper]
        </li>
        <li class="mb-2">
            Nyle Siddiqui, Laura Pryor, Rushit Dave, “An Examination of User Authentication Schemes Using Machine Learning Methods”, 3rd International conference of Communications and Computing Technologies 2021, Algorithms for Intelligent Systems LNNS Springer. [Invited paper]
        </li>
        <li class="mb-2">
            Zachary Menter, Wei Tee, Rushit Dave, “A Study of Machine Learning Based Pattern Recognition in IoT Devices”, 3rd International conference of Communications and Computing Technologies 2021, Algorithms for Intelligent Systems LNNS Springer. [Invited paper]
        </li>
    </ol>

    <h3 class="mt-4">Journals</h3>
    <ol>
        <li class="mb-2">
            Ackerson, Joseph M., Rushit Dave, and Naeem Seliya. 2021. "Applications of Recurrent Neural Network for Biometric Authentication & Anomaly Detection" MDPI-Information 12, July 2021.
        </li>
        <li class="mb-2">
            Janelle Mason, Rushit Dave, Prosenjit Chatterjee, Ieschecia Graham-Allen, Albert Esterline, Kaushik Roy, An Investigation of Biometric Authentication in the Healthcare Environment, Array, Volume 8, 2020, 100042, ISSN 2590-0056, https://doi.org/10.1016/j.array.2020.100042.
        </li>
        <li class="mb-2">
            Rushit Dave, Naeem Seliya and Nyle Siddiqui. The Benefits of Edge Computing in Healthcare, Smart Cities, and IoT. Journal of Computer Sciences and Applications. 2021; 9(1):23-34. doi: 10.12691/jcsa-9-1-3
        </li>
        <li class="mb-2">
            Sam Strecker, Rushit Dave, Nyle Siddiqui and Naeem Seliya. A Modern Analysis of Aging Machine Learning Based IoT Cybersecurity Methods. Journal of Computer Sciences and Applications. 2021; 9(1):16-22. doi: 10.12691/jcsa-9-1-2
        </li>
        <li class="mb-2">
            Huang, M., Dave, R., Siddiqui, N., &amp; Seliya, N. (2021). Examining modern data security and privacy protocols in Autonomous Vehicles. International Journal of Computer Science and Information Technology, 13(5), 01–19. https://doi.org/10.5121/ijcsit.2021.13501
        </li>
    </ol>
    <h3 class="mt-4">Posters</h3>
    <ol>
        <li class="mb-2">
            Continuous Authentication using Mouse Movements based on Machine Learning Algorithms, Faculty Forum 2021, UW Eau Claire, 2021
        </li>
        <li class="mb-2">
            An Eye to Identity: Healthcare Authentication schemes based on ML & EMPI, 16th Annual Authors Celebration, UW Eau Claire, 2021
        </li>
        <li class="mb-2">
            Behavioral Biometrics based user authentication schemes using machine learning, University of Wisconsin Symposium [UW Symposium] 2021.
        </li>
        <li class="mb-2">
            An analysis of IoT cyber security driven by machine learning, University of Wisconsin Symposium [UW Symposium] 2021.
        </li>
        <li class="mb-2">
            Physical Layer authentication optimization using machine learning algorithms, University of Wisconsin Symposium [UW Symposium] 2021.
        </li>
        <li class="mb-2">
            Pattern Recognition with IoT devices in Human activity recognition, University of Wisconsin Symposium [UW Symposium] 2021.
        </li>
        <li class="mb-2">
            An Analysis of IoT Cyber Security Utilizing Machine Learning”, 3rd International conference of Communications and Computing Technologies 2021.
        </li>
        <li class="mb-2">
            An Examination of User Authentication Schemes Using Machine Learning Methods”, 3rd International conference of Communications and Computing Technologies 2021.
        </li>
        <li class="mb-2">
            A Study of Machine Learning Based Pattern Recognition in IoT Devices”, 3rd International conference of Communications and Computing Technologies 2021.
        </li>
    </ol>

<!--    <h3>Workshops</h3>-->
<!--    <ul>-->
<!--        <li class="mb-2">-->
<!--        </li>-->
<!--        <li class="mb-2">-->
<!--        </li>-->
<!--    </ul>-->
{% endblock %}